// _variables.scss
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #363636;
$border-color: #ddd;
$primary-bg-color: #f8f8f8;
$secondary-color: #555;
$button-color: #87D7B0;
$button-hover-color: darken($button-color, 10%);
$padding: 20px;
$margin: 10px;
